version: '3'

services:
  users-db:
    image: postgres
    container_name: users-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: users-db
    ports:
      - "5433:5432"
    volumes:
      - users-data:/var/lib/postgresql/data
    networks:
      demo_net:

  devices-db:
    image: postgres
    container_name: devices-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: devices-db
    ports:
      - "5434:5432"
    volumes:
      - devices-data:/var/lib/postgresql/data
    networks:
      demo_net:

  user-service:
    build:
      context: ./UserService
      dockerfile: ./Dockerfile
    container_name: user-service
    ports:
      - "8081:8080"
    environment:
      - DB_IP=users-db
      - DB_PORT=5432
      - DB_DBNAME=users-db
      - DB_USER=postgres
      - DB_PASSWORD=root
    networks:
      demo_net:

  device-service:
    build:
      context: ./DeviceService
      dockerfile: ./Dockerfile
    container_name: device-service
    ports:
      - "8082:8080"
    environment:
      - DB_IP=devices-db
      - DB_PORT=5432
      - DB_DBNAME=devices-db
      - DB_USER=postgres
      - DB_PASSWORD=root
    networks:
      demo_net:
        

volumes:
  users-data:
  devices-data:

networks:
  demo_net:
    external: true
