services:
  traefik:
    image: traefik:v3.2
    container_name: traefik
    restart: always
    # command:
    #   - "--log.level=DEBUG"
    #   - "--api.insecure=true"
    #   - "--providers.docker=true" 
    #   - "--providers.file.directory=/etc/traefik/dynamic"
    #   - "--providers.file.watch=true"
    #   - "--entrypoints.web.address=:80"
    #   - "--experimental.plugins.jwtValidation.moduleName=github.com/legege/jwt-validation-middleware"
    #   - "--experimental.plugins.jwtValidation.version=v0.2.1"
    ports:
      - "80:80"       # HTTP
      - "8080:8080"   # Traefik Dashboard
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.yml:/etc/traefik/traefik.yml:ro
      - ./dynamic:/etc/traefik/dynamic:ro
      - traefik_logs:/var/log/traefik
      - ./plugins-storage:/plugins-storage
    networks:
      demo_net:

  users-db:
    image: postgres
    container_name: users-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: users-db
    volumes:
      - users-data:/var/lib/postgresql/data
    networks:
      demo_net:

  devices-db:
    image: postgres
    container_name: devices-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: devices-db
    volumes:
      - devices-data:/var/lib/postgresql/data
    networks:
      demo_net:

  auth-db:
    image: postgres
    container_name: auth-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: auth-db
    volumes:
      - auth-data:/var/lib/postgresql/data
    networks:
      demo_net:

  user-service:
    build:
      context: ./UserService
      dockerfile: ./Dockerfile
    container_name: user-service
    # ports:
    #   - "8081:8080"
    environment:
      - DB_IP=users-db
      - DB_PORT=5432
      - DB_DBNAME=users-db
      - DB_USER=postgres
      - DB_PASSWORD=root
    networks:
      demo_net:

  device-service:
    build:
      context: ./DeviceService
      dockerfile: ./Dockerfile
    container_name: device-service
    # ports:
    #   - "8082:8080"
    environment:
      - DB_IP=devices-db
      - DB_PORT=5432
      - DB_DBNAME=devices-db
      - DB_USER=postgres
      - DB_PASSWORD=root
    networks:
      demo_net:

  auth-service: 
    build:
      context: ./AuthService 
      dockerfile: ./Dockerfile
    container_name: auth-service
    environment:
      - DB_IP=auth-db
      - DB_PORT=5432
      - DB_DBNAME=auth-db
      - DB_USER=postgres
      - DB_PASSWORD=root
      - PORT=8081
    # ports:
    #   - "8081:8081"
    networks:
      demo_net:
        

volumes:
  users-data:
  devices-data:
  traefik_logs:
  auth-data:

networks:
  demo_net:
    external: true
